[submodule "pack/shapeshed/start/minibufexpl.vim"]
	path = pack/shapeshed/start/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "pack/shapeshed/start/unite.vim"]
	path = pack/shapeshed/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "pack/shapeshed/start/vim-gnupg"]
	path = pack/shapeshed/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "pack/shapeshed/start/vim-cursorword"]
	path = pack/shapeshed/start/vim-cursorword
	url = https://github.com/itchyny/vim-cursorword.git
[submodule "pack/shapeshed/start/w3m.vim"]
	path = pack/shapeshed/start/w3m.vim
	url = https://github.com/yuratomo/w3m.vim.git
[submodule "pack/shapeshed/start/Align"]
	path = pack/shapeshed/start/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "pack/shapeshed/start/DrawIt"]
	path = pack/shapeshed/start/DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "pack/shapeshed/start/vim-surround"]
	path = pack/shapeshed/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/shapeshed/start/ale"]
	path = pack/shapeshed/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/shapeshed/start/vim-lsp"]
	path = pack/shapeshed/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/shapeshed/start/vim-lsp-settings"]
	path = pack/shapeshed/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "pack/shapeshed/start/asyncomplete.vim"]
	path = pack/shapeshed/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "pack/shapeshed/start/asyncomplete-lsp.vim"]
	path = pack/shapeshed/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "pack/shapeshed/start/vim-lsp-icons"]
	path = pack/shapeshed/start/vim-lsp-icons
	url = https://github.com/mattn/vim-lsp-icons.git
[submodule "pack/shapeshed/start/vim-vsnip"]
	path = pack/shapeshed/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "pack/shapeshed/start/vim-vsnip-integ"]
	path = pack/shapeshed/start/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
