[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/hatena-vim"]
	path = bundle/hatena-vim
	url = git://github.com/motemen/hatena-vim.git
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = git://github.com/vim-scripts/localvimrc.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
